*{
    margin: 0;
    padding: 0;
    font-family: 'poppin' sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 230, 230);
}
main{
    width: 40%;
    height: 310px;
    /* background-color: rgb(167, 168, 168); */
    margin-top: 10%;
    margin-left: 30%;
    padding-top: 10px;
}
#data{
    font-size: 20px;
    padding-left: 10px;
}
#btn{
    height: 40px;
    width: 30%;
    background-color: rgb(233, 33, 33);
    color: white;
    outline: none;
    font-size: 17px;
    margin-top: 15px;
    /* margin-left: 34%; */
    border-radius: 20px;
    border: none;
    cursor: pointer;
}